*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
.logo {
    width: 200px;
    height: 200px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#menu {
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
li a:active ,
li a:link ,
li a:visited {
    font-size: 24px; 
    font-weight: bold; 
    color: #213b44; 
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
li a:hover {
font-size: 2rem;
}
header {
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid #213b44;
    margin-bottom: 20px;
    font-size: large;
}
ul {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}
.hero img {
    position: relative;
    width: 100%;
    height: auto;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.button-hero {
    background-color: #213b44;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.hero { 
    width: 100%;
    background-image: url(../images/hands.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* .hero-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    height: 700px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}
.button-hero {
    text-decoration: none;
    color: white;
    background-color: #213b44;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
} */
.button-hero-footer{
    text-decoration: none;
    color: black;
    background-color: #F4A261;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin: 20px;
}
section {
    height: 300px;
    width: 100%;
    background-color: #F4A261;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section a {
    color: #081349;
}
.event {
    display: flex;
    align-items: start;
    flex-direction: column;
}
section h1 {
    width: 100%;
    border-bottom: 1px solid #213b44;
}
.container {
    display: grid;
    margin: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.event {
    grid-column: 1/3;
    grid-row: 1/2;
}
#weather {
    grid-column: 3/4;
    grid-row: 1/2;
}
.publicity-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.publicity-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.publicity-3 {
    grid-column: 3/4;
    grid-row: 2/3;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 30px;
    background-color: #213b44;
    color: white;
}
.upper-section-left {
    padding: 20px;
    margin-left: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-section-right {
    padding: 20px;
    margin-right: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button,.button-footer {
    width: 300px;
}
.lower-section {
    margin-left: 100px;
    margin-right: 100px;
    border-top: 1px solid white;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* darkmode toggle */
#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
    font-family: 'Oswald', sans-serif;
}
