*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.logo {
    width: 200px;
    height: 200px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#menu {
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
li a:active ,
li a:link ,
li a:visited {
    font-size: 24px; 
    font-weight: bold; 
    color: #213b44; 
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
li a:hover {
font-size: 2rem;
}
header {
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid #213b44;
    margin-bottom: 20px;
    font-size: large;
}
ul {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}
.hero img {
    position: relative;
    width: 100%;
    height: auto;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.button-hero {
    background-color: #213b44;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.hero { 
    width: 100%;
    /* background-image: url(../images/hands.jpg); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* .hero-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    height: 700px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}
.button-hero {
    text-decoration: none;
    color: white;
    background-color: #213b44;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
} */
.button-hero-footer{
    text-decoration: none;
    color: black;
    background-color: #F4A261;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    margin: 20px;
}
section {
    height: 300px;
    width: 100%;
    background-color: #F4A261;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section a {
    color: #081349;
}
.event {
    display: flex;
    align-items: start;
    flex-direction: column;
}
section h2 {
    width: 100%;
    border-bottom: 1px solid #213b44;
}
.container {
    display: grid;
    margin: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.event {
    grid-column: 1/3;
    grid-row: 1/2;
}
#weather {
    grid-column: 3/4;
    grid-row: 1/2;
}
.publicity-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.publicity-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.publicity-3 {
    grid-column: 3/4;
    grid-row: 2/3;
}


footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 30px;
    background-color: #213b44;
    color: white;
}
.upper-section-left {
    padding: 20px;
    margin-left: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-section-right {
    padding: 20px;
    margin-right: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button,.button-footer {
    width: 300px;
}
.lower-section {
    margin-left: 100px;
    margin-right: 100px;
    border-top: 1px solid white;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* darkmode toggle */
#mode {
	position: absolute;
	top: 11rem;
	left: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
    font-family: 'Oswald', sans-serif;
}
/* Discover main css */

.container-discover {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-left: 100px;
    margin-right: 100px;
    }
    
.div1 { 
    grid-area: 1 / 1 / 6 / 2; 
    width: 100%;
}

.div2 {
    grid-area: 1 / 2 / 6 / 3; 
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
picture {
    margin: 0 auto;
}
.articles-discover {
    color: white;
    background-color: #213b44;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.information-discover {
    margin: 20px;
    font-size: 2rem;
}
picture:hover {
    border-radius: 50px;
    background: #213b44;
    box-shadow:  20px 20px 60px #1c323a,
        -20px -20px 60px #26444e;
}

/* Form */
.centered-content {
    text-align: center; 
    margin: 80px;
    color: #26444e;
}

h1.h1form {
    margin: 0; 
}

.form-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.levels {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items:start;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  24px 24px 48px #c4c4c4,-24px -24px 48px #ffffff;
    margin-bottom: 80px;
}
main form {
    margin: 0 auto;
    margin-bottom: 80px;
    grid-column: 1/2;
}
form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 30px;
    width: 325px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  24px 24px 48px #c4c4c4,-24px -24px 48px #ffffff;
}
label {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    color: #213b44;
}

form input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 4px;
    width: 250px;
    height: 40px;
}

#membership {
    margin-bottom: 15px;
    width: 250px;
}

#description {
    width: 250px;
    height: 100px;
    padding: 5px;
}

form label input:required {
    border: red solid 1px;
    background-color: #FDDDE6;
}
form label input:required:valid {
    border: green solid 1px;
    background-color: #E0EFDC;

}
form input.submitBtn {
    border: none;
    background-color: #213b44;
    border-radius: 1rem;
    padding: 5px;
    width: 250px;
    max-width: 20rem;
    font-size: 1.5rem;
    color: white;
    margin-top: 50px;
}

.thanksh1 {
    text-align: center; /* Center the text horizontally */
    margin: 0 auto; /* Center the element within its container */
    max-width: 600px; /* Adjust the width as needed */
}

/* drectory.html  css cards and list toggle */

/* main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
} */

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #213b44;
	text-align: center;
}

.menu button {
	padding: 2rem;
	font-weight: 700;
}

.toggle {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
    width: 400px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    align-items: stretch; /* Ensure all cards have the same height */
    justify-content: center;
}

.grid {
    margin: 20px;
}
#grid {
    font-size: 2.0rem;
    height: 100px;
    width: 300px;
    
}
#list {
    font-size: 2.0rem;
    height: 100px;
    width: 300px;
}
.grid .toggle {
	text-align: center;
}
h2 {
    margin: 20px;
}
span .toggle {
    height: 800px;
}
.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
    height: 100px;
    width: 100px;
}

.grid .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
    width: 400px;
    margin: auto; /* Center the card itself in the grid */
    height: 100%; /* Ensure the card takes the full height of the grid */
}


.list {
	display: flex;
	flex-direction: column;
}

.list .toggle {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    width: 100%;
}
/* 
.list .toggle > * {
	margin: 0 1rem;
} */

.list .toggle img {
	display: none; /* smaller viewports only */
}


.list .toggle:nth-child(even) {
	background-color: white;
}


.toggle p {
	font-weight: 600;
    padding: 20px;
}

.toggle a {
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
    padding: 20px;
}

img {
	height: 100%;
	max-width: 100%; 
}


/* banner */

#banner {
    display: none;
    padding: 50px;
    align-content: center;
    justify-content: center;
    background-color: #213b44;
    color: #fff;
    text-align: center;
}

#closeButton {
    cursor: pointer;
    float: inherit;
    font-weight: bold;
}
#banner p {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* daily forecast */
figure {
    text-align: center;
}
h2 {
    text-align: center;
    border-bottom: 2px solid lightgray;;
    width: 100%;
    padding: 20px;
}
#forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}
.forecast-day {

    margin: 0 auto;
    padding: 1.35rem;
    background-color: #F4A261;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    align-items: center;
}
