
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}  
/* header */
header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: #112A46;
    color: #D3D3D3;
}
header img {
    padding: 10px;
    margin-right: 80px; 
}
h1 {
    align-self: center
}

/* navigation bar */
nav {
    background-color: #dda15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
nav a {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: black;
}

/* Main  */
main {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h2 {
    text-align: center;
    border-bottom: 2px solid lightgray;;
    width: 500px;
    padding: 20px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112A46;
    margin: 0;
    height: 50px;
}
.card   {
    width: 500px;
    border: 2px solid lightgray;;
    border-radius: 2%;
    overflow: hidden;
    color: #D3D3D3;
}
h4 {
    text-align: center;
    color: black;
}
ul {
    list-style: none;
    margin-left: -20px;
}

/*  Footer  */
footer {
    margin-top: 20px;
    height: 200px;
    background-color: #112A46;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    color: #D3D3D3;
    width: 300px;
    text-align: center;
}
