
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}  
/* header */
header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: #112A46;
    color: #D3D3D3;
}
header img {
    padding: 10px;
    margin-right: 80px; 
}
h1 {
    align-self: center
}

/* navigation bar */
nav {
    background-color: #dda15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
nav a {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: black;
}

/* Main  */
main {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    margin: 0 auto;
    
}
h2 {
    text-align: center;
    border-bottom: 2px solid lightgray;;
    width: 100%;
    padding: 20px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112A46;
    margin: 0;
    height: 50px;
}
.card   {
    width: 80%;
    border: 2px solid lightgray;;
    border-radius: 2%;
    overflow: hidden;
    color: #D3D3D3;
}
h4 {
    text-align: center;
    color: black;
}
ul {
    list-style: none;
    margin-left: -20px;
    color: black;
}

iframe {
    width: 80%;
    border: 2px solid lightgray;;
    border-radius: 2%;
    overflow: hidden;
}

/*  Footer  */
footer {
    margin-top: 20px;
    height: 200px;
    background-color: #112A46;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    color: #D3D3D3;
    width: 300px;
    text-align: center;
    color: #D3D3D3;
}

/* responsive menu */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
	position: fixed;
    top: 0;
    right: 0;
}

#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "✖️";
}
nav a {
	display: none;
}

nav a:hover {
	background-color: #D3D3D3;
	color: #333;
	font-weight: 700;
}

.open a {
    background-color: #dda15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


