
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}  
/* header */
header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    background-color: #112A46;
    color: #D3D3D3;
}
header img {
    padding: 10px;
    margin-right: 80px; 
}
h1 {
    align-self: center
}

/* navigation bar */
nav {
    background-color: #dda15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
nav a {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color: black;
}

.hero img {
    width: 100%;
    height: auto;
}
.herolabel {
	position: absolute;
	top: 180px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 0rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    height: 50px;
    width: 250px;
}
.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
    color: #000;
    font-family: 'Oswald', sans-serif;
    width: auto;
}
/* Main  */
main {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    margin: 0 auto;
    
}
h2 {
    text-align: center;
    border-bottom: 2px solid lightgray;;
    width: 100%;
    padding: 20px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112A46;
    margin: 0;
    height: 50px;
}
.card a:active ,
.card a:link ,
.card a:visited { 
	color: navy;
}
.card a:hover {
    color: purple;
}
.card   {
    width: 80%;
    border: 2px solid lightgray;;
    border-radius: 2%;
    overflow: hidden;
    color: #D3D3D3;
}
h4 {
    text-align: center;
    color: black;
}
ul {
    list-style: none;
    margin-left: -20px;
    color: black;
}

iframe {
    width: 80%;
    border: 2px solid lightgray;;
    border-radius: 2%;
    overflow: hidden;
}

/*  Footer  */
footer {
    margin-top: 20px;
    height: 200px;
    background-color: #112A46;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    color: #D3D3D3;
    width: 300px;
    text-align: center;
    color: #D3D3D3;
}

/* responsive menu */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
	position: fixed;
    top: 0;
    right: 0;
}

#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "✖️";
}
nav a {
	display: none;
}

nav a:hover {
	background-color: #D3D3D3;
	color: #333;
	font-weight: 700;
}

.open a {
    background-color: #dda15e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Form */
:root {
    --green-color: green; 
    --red-color: #ff0000; 
    --secondary-color: #dda15e; 
}

#r {
	width: 180px;
	margin-bottom: 0;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
}

option {
    padding: 0;
}

input[type="range"] {
    width: 200px;
    margin: 0;
    height: 40px;
    padding: 4px;
}

form fieldset {
    font-family: 'Oswald', sans-serif;
    margin: 2rem 0;
    border: 2px solid #112A46;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 30%;
    min-width: 400px;
}
form label input {
    display: block;
    height: 44px;
    margin-bottom: 20px;
    border-radius: 10px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
label {
    font-size: 1.5rem;
}

form label.form input:required {
    border-left: var(--red-color) solid 6px;
}
form label.form input:required:valid {
    border-left: var(--green-color) solid 6px;

}
form input.submitBtn {
    border: none;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    font-size: 1.5rem;
    color: #000;
}

#rangevalue {
    font-size: 2rem;
}

form input.submitBtn:hover {
    font-size: 2rem;
}